body {
  /*background-color: #82BC3F;*/
  background: #00b09b;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to left, #96c93d, #00b09b);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #96c93d, #00b09b); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  font-family: 'Nunito', sans-serif;
}
.container {
  text-align: center;
}

.header > h1 {
  height: 20px;
  font-size: 75px;
  margin-bottom: 75px;
  color: white;
  padding-bottom: 75px;
}

p {
  color: white;
  font-size: 20px;
}

#toggleCelsiusFahrenheit {
  padding: 10px 30px;
  font-family: 'Nunito', sans-serif;
  font-size: 20px;
  border-radius: 4px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #fff;

}