body {
  background-color: #82BC3F;
}
.container {
  text-align: center;
}

.header > h1 {
  height: 20px;
  font-size: 75px;
  margin-bottom: 75px;
  color: white;
  padding-bottom: 75px;
}

p {
  color: white;
  font-size: 20px;
}
